
.custom2{
 color: darkblue;
    height: 200px;
}
.custom3{

    color: darkblue;
    height: 200px;
}
.custom4{
    width: 100%;
    padding: 2px;
}
.custom5{
     width: 200%;
     padding: 2px;
 }
.custom6{
    width: 200px;
    padding: 2px;
}
.custom7{
    padding: 20px 0px 0px 0px;
}
.custom8{
    padding: 20px 0px 0px 0px;
}
h5{
    color: #0f0f0f;
}